{% extends "index.html" %}
{% block content %}
<!-- Write code indside this block -->
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
</head>
<div class="container">
    <div class="row d-flex justify-content-center">
        <h3 style="color: black;">Add Customer</h3><br><br>
    </div>
    <form>
        <div class="form-group row">
            <label for="SSNId" class="col-sm-2 col-form-label text-body required">Customer SSN ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="eg. 123456789" required maxlength=9>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label text-body required">Customer Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="eg. John Doe" required maxlength=40>
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-sm-2 col-form-label text-body required">Age</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="eg. 21" required maxlength=3>
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label text-body required">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="eg. Fort, Mumbai" required maxlength=200>
            </div>
        </div>
        <div class="form-group row">
            <label for="country" class="col-sm-2 col-form-label text-body required">Country</label>
            <div class="col-sm-10">
                <select name="country" class="countries form-control" id="countryId">
                    <option value="">Select Country</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="state" class="col-sm-2 col-form-label text-body required">State</label>
            <div class="col-sm-10">
                <select name="state" class="states form-control" id="stateId">
                    <option value="">Select State</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label text-body required">City</label>
            <div class="col-sm-10">
                <select name="city" class="cities form-control" id="cityId">
                    <option value="">Select City</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 offset-sm-6">
                <label style="color:red";>(*) Fields are compulsory</label>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-primary">Reset</button>

            </div>
        </div>
    </form>
    
</div>
{% endblock %}