<header class="site-navbar js-sticky-header site-navbar-target" role="banner">
    <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
                <a href="{{url_for('welcome')}}" class="text-black"><span class="text-primary">ESKAY BANK</a>
            </div>

            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                        <li><a href="{{url_for('welcome')}}" class="nav-link">Home</a></li>
                        <li><a href="{{url_for('aSearch')}}" class="nav-link">Account Details</a></li>
                        <!-- <li class="has-children">
                            <a href="#" class="nav-link">Transactions</a>
                            <ul class="dropdown arrow-top">
                                <li><a href="{{url_for('deposit')}}" class="nav-link">Deposit</a></li>
                                <li><a href="{{url_for('withdraw')}}" class="nav-link">Withdraw</a>
                                </li>
                                <li><a href="{{url_for('transfer')}}" class="nav-link">Fund Transfer</a></li>
                            </ul>
                        </li> -->
                        <li class="has-children">
                            <a href="#" class="nav-link">Account Statement</a>
                            <ul class="dropdown arrow-top">
                                <li><a href="{{url_for('transacList')}}" class="nav-link">No. of Transactions</a></li>
                                <li><a href="{{url_for('transacDate')}}" class="nav-link">Start-End Date</a></li>
                            </ul>
                        </li>

                        <li><a href="{{url_for('logout')}}" class="nav-link">Logout</a></li>

                    </ul>
                </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#"
                    class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>