{% extends "index.html" %}
{% block content %}
<!-- Write code indside this block -->
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>
<div class="container">
    <div class="row d-flex justify-content-center">
        <h3 style="color: black;">Delete Account</h3><br><br>
    </div>
    <form action="" method="post">
        <div class="form-group row">
            <label for="SSNId" class="col-sm-2 col-form-label text-body">SSN ID</label>
            <div class="col-sm-10">
                <input type="text" name="ssn" class="form-control" value="{{ssn}}" maxlength=9>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-body">Customer ID</label>
            <div class="col-sm-10">
                <input type="text" name="cid" class="form-control" value="{{cid}}"  maxlength=9>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-body ">Account ID</label>
            <div class="col-sm-10">
                <label style="color: blue;">{{accnt_id}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-body ">Account Type</label>
            <div class="col-sm-10">
                <label style="color: blue;">{{accnt_type}}</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 offset-sm-2 msg">
                <label style="color:blue">{{ msg }}</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 offset-sm-6">
                <button type="submit" value="submit" class="btn btn-primary">DELETE ACCOUNT</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}