{% extends "index.html" %}
{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <h3 style="color: black;">Deposit</h3><br><br>
    </div>
    <form action="" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-body">Deposit Amount</label>
            <div class="col-sm-10">
                <input type="number" name="amount"  min=1 class="form-control" maxlength=15 required >
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-body">Account ID</label>
            <div class="col-sm-10">
                <label style="color: blue;">{{aid}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-body">Customer ID</label>
            <div class="col-sm-10">
                <label style="color: blue;">{{cid}}</label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-body ">Balance before deposit</label>
            <div class="col-sm-10">
                <label style="color: blue;">{{balance}}</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 offset-sm-2 msg">
                <label style="color:blue">{{ msg }}</label>
            </div>
        </div>
        {% if not done %}
        <div class="form-group row">
            <div class="col-sm-12 offset-sm-6">
                <button type="submit" value="submit" class="btn btn-primary">DEPOSIT</button>
            </div>
        </div>
        {% else %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label text-body ">Latest Balance</label>
            <div class="col-sm-10">
                <label style="color: blue;">{{latest_bal}}</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 offset-sm-6">
                <button type="submit" value="submit" class="btn btn-primary">DEPOSIT MORE</button>
            </div>
        </div>
        {% endif %}
        </div>
    </form>

</div>
{% endblock %}